body{
    background-color: rgb(178, 255, 210);
    color: mintcream;
}
.imagem1{
    width: max-content;
}
.imagemcentralizada{
    text-align: center;
}
.lista{
    text-align: start;
    width: 45%;
}
main{
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 70;
    color: rgb(255, 197, 224);
}
