body{
    background-color: #DAFFC8;
    color: mintcream;
}
.imagem1{
    width: 100%;
    height: 18%;
}
.imagemcentralizada{
    text-align: center;
}
.lista{
    text-align: start;
    width: 45%;
}
